@font-face {
  font-family: 'Joystix';
  src: url('Fonts/SFPixelate.ttf');
  ascent-override: 90%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Joystix', Monospace, sans-serif;
  color: white;
  font-size: 0.5rem;
  overflow: hidden;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  display: block;
  padding: 0.1rem;
  border-radius: 0.125rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: left;
  user-select: none;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;

  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
