@font-face {
  font-family: 'Joystix';
  src: url('Fonts/SFPixelate.ttf');
  ascent-override: 90%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Joystix', Monospace, sans-serif;
  color: white;
  font-size: 0.5rem;
  overflow: hidden;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  display: block;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 5.5em;
  font-weight: bold;
  text-align: left;
  user-select: none;
}

button:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 0.75);
}

button:not([disabled]) {
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
}
