/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background: black;
}

/* fix tailwind breaking play button style */
#excalibur-play::before {
  box-sizing: content-box;
}

#ui {
  /* This will make the UI appear on top of the canvas */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
